.footer {
  color: #fff;
  filter: drop-shadow(2px 2px 1px #222);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.paypal-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media only screen and (max-width: 650px) {
  .footer {
    height: 10rem;
  }
  .paypal-button {
    position: static;
  }
}
