.header {
  height: 3em;
  border: 1px;
  border-color: black;
  background-color: black;
  font-size: 2em;
  position: relative;
  color: white;
  &-title {
    margin-left: 15px;
    position: absolute;
    top: 50%;
    left: 85px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .logo {
    width: 2em;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    left: 10px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .nav {
    margin-left: 1em;
    margin-bottom: 10px;
    float: left;
    position: absolute;
    bottom: 0;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
